@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-*: initial;
  --color-background-primary: #040d18;
  --color-background-secondary: #262337;
  --color-background-tertiary: #3c3857;
  --color-border-primary: #2c2c35;
  --color-border-active: #4c4c5d;
  --color-accent-brand: #1ccfc3;
  --color-accent-brand-light: #66eae1;
  --color-accent-red: #f54a26;
  --color-heading: #fafcff;
  --color-accent-paragraph: #f1f7ff;
  --color-accent-span: #5c636c;
  --color-placeholder: #a9a9a9;
  --color-label: #ffffff;
  --color-label-inverse: #040d18;

  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;

  --font-sans: "Mulish", sans-serif;
}
